.Input_mode_2{
  padding: 10px!important;
  width: 80%!important;

  line-height: 20px!important;
  border-radius: 5px!important;
  border: 1px solid #bac4da!important;

  transition: all .3s ease!important;
}

.Input_mode_2:hover{
  border: 1px solid #000!important;
  box-shadow: 5px 5px 5px #000!important;
}

.Input_mode_2:focus{
  background-color: lightgreen!important;
  border: 1px solid #000!important;
  box-shadow: 5px 5px 5px #000!important;
}