.Button_mode_2 {
    background-color: #588ef1!important;
    color: #fff!important;
    border-radius: 20px!important;

    transition: background-color .3s ease!important;
}

.Button_mode_2:hover {
    background-color: lightskyblue!important;
    color: #fff!important;
}

@media (max-width: 600px){
    .Button_mode_2{
        width: 80px!important;
        height: 30px!important;
        font-size: 10px!important;
    }
}