.Button_mode_3 {
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  background-color: #588ef1 !important;

  padding: 10px 20px !important;
  width: 150px !important;
  height: 70px !important;

  text-transform: uppercase !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 1.5 !important;
  color: #fff !important;
  transition: all 0.2s ease-in-out !important;
}

.Button_mode_3:hover {
  background-color: #87cefa !important;
  color: #2c2c2c !important;
  border: 1px solid #000 !important;
  box-shadow: 3px 3px 3px #000 !important;
}

@media (max-width: 500px) {
  .Button_mode_3 {
    font-size: 10px!important;
  }
}
