.JobsContainer {
  width: 80%;
  min-height: 100px;
  margin-bottom: 100px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.JobsContainer-NoJob {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  padding: 50px;
}
